body {
    background-color: #0f131a;
    color: #ffffff;
    background: url(../images/bg.JPG);
    font-family: "Roboto Mono", monospace;
    line-height: 1.4;
    padding: 32px 24px;
}

.header {
    /* background-color: red; */
    z-index: 999;
    position: relative;
    max-width: 700px;
    margin: 40px auto;
    text-align: center;
}

.header h1 {
    margin-bottom: 16px;
    font-size: 48px;
    font-weight: 700;
}

.header .subtitle {
    color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    font-weight: 400;
}

.container {
    /* background-color: orange; */
    max-width: 1024px;
    margin: 0 auto;
    z-index: 99;
    position: relative;
}

.card {
    /* background-color: blue; */
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 32px;
    border-radius: 16px;
    margin-bottom: 32px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-header {
    /* background-color: green; */
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 32px;
    text-align: center;
}

.form-group textarea {
    background-color: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    width: 100%;
    min-height: 120px;
    padding: 16px;
    border: 1px solid #474646;
    border-radius: 8px;
    margin-bottom: 20px;
}

.form-group textarea:focus {
    outline: none;
    border-color: #a655f7;
}

.form-group textarea:placeholder-shown {
    color: #a19e9e;
}

.form-group .generate-btn {
    width: 100%;
    background: linear-gradient(90deg, #a655f7 0%, #ff80aa 100%);
    color: #ffffff;
    padding: 16px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.form-group .generate-btn:hover {
    transform: translateY(-2px);
}

.preview-card {
    display: none;
}

.code-grid {
    /* background-color: firebrick; */
    display: flex;
    gap: 24px;
}

.code-card {
    background-color: #21242a;
    padding: 24px;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: 50%;
}

.code-title {
    font-size: 20px;
    margin-bottom: 16px;
}

.code-block {
    background-color: #0a0c10;
    padding: 16px;
    border-radius: 8px;
    font-family: "Fira Code", monospace;
    font-size: 14px;
    color: #5eead4;
    overflow-y: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    max-height: 400px;
}

